<form>
    <div class="mb-3">
      <label for="idProduct" class="form-label">Id Product</label>
      <input type="number" class="form-control" id="idProduct" >
    </div>

    <div class="mb-3">
      <label for="titleProduct" class="form-label">Title Product</label>
      <input type="text" class="form-control" id="titleProduct" >
    </div>

    <div class="mb-3">
      <label for="priceProduct" class="form-label">Price Product</label>
      <input type="number" class="form-control" id="priceProduct" >
    </div>

    <div class="mb-3">
      <label for="priceProduct" class="form-label">Price Product</label>
      <input type="number" class="form-control" id="priceProduct" >
    </div>

    <div class="mb-3">
      <label for="quantityProduct" class="form-label">Quantity Product</label>
      <input type="number" class="form-control" id="quantityProduct" >
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>